table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px 30px 10px 10px !important;
    background-color: #343a40;
}



#myTable_filter {
    margin: 100px !important;
}
