<div class="container-fluid mt-5 pt-5  ">
	<div class="row text-white d-flex align-items-center">
		<div class="col-12 col-md-4 d-flex justify-content-center">
			<img style="max-width: 50px" src="https://avatars0.githubusercontent.com/u/68181487?s=200&v=4">
		</div>
		<div class="col d-flex justify-content-center">
			<div>
				<i class="fa fa-github" aria-hidden="true"></i> <a class="text-white" href="https://github.com/CEEINF-UTFSM">GitHub</a>
			</div>
		</div>
		<div class="col-12 col-md-4 d-flex justify-content-center">
			<p class="text-center">2020</p>
		</div>
	</div>
</div>