{% extends 'global/base.html' %}

{% block content %}
<div class="container mt-sm-0 ml-sm-1 mr-sm-1 mt-md-5 ml-md-4 mr-md-4">
	<div class="row">
		<h1> TITULO DEL RAMO </h1>
	</div>
	<div clss="row">
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th scope="col-sm-1 col-md-1 col-lg-1 col-xl-1"></th>
						<th scope="col">Nombre</th>
						<th scope="col">Tipo</th>
						<th scope="col">Semestre</th>
						<th scope="col">Fecha</th>
						<th scope="col-sm-2 col-md-2 col-lg-2 col-xl-2">Peso</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="col-sm-1 col-md-1 col-lg-1 col-xl-1"><center><i class="fa fa-download"></i></center></th>
						<th scope="col">Archivo 1</th>
						<th scope="col"><i class="fa fa-file-pdf-o"></i></th>
						<th scope="col">2018-1</th>
						<th scope="col">2020/06/02</th>
						<th scope="col-sm-2 col-md-2 col-lg-2 col-xl-2">1000 TB</th>
					</tr>
					<tr>
						<th scope="col-sm-1 col-md-1 col-lg-1 col-xl-1"><center><i class="fa fa-download"></i></center></th>
						<th scope="col">Archivo 2</th>
						<th scope="col"><i class="fa fa-file-word-o"></i></th>
						<th scope="col">2018-2</th>
						<th scope="col">2020/06/02</th>
						<th scope="col-sm-2 col-md-2 col-lg-2 col-xl-2">1 B</th>
					</tr>
					<tr>
						<th scope="col-sm-1 col-md-1 col-lg-1 col-xl-1"><center><i class="fa fa-download"></i></center></th>
						<th scope="col">Archivo 3</th>
						<th scope="col"><i class="fa fa-file-powerpoint-o"></i></th>
						<th scope="col">2018-3</th>
						<th scope="col">2020/06/02</th>
						<th scope="col-sm-2 col-md-2 col-lg-2 col-xl-2">200 GB</th>
					</tr>
					<tr>
						<th scope="col-sm-1 col-md-1 col-lg-1 col-xl-1"><center><i class="fa fa-download"></i></center></th>
						<th scope="col">Archivo 4</th>
						<th scope="col"><i class="fa fa-file-video-o"></i></th>
						<th scope="col">2018-3</th>
						<th scope="col">2020/06/02</th>
						<th scope="col-sm-2 col-md-2 col-lg-2 col-xl-2">300 b</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}