{% extends 'global/base.html' %} {% block content %}

<div class="container pl-5 mt-sm-0 mr-sm-1 mt-md-3 mr-md-4">
  <div class="row">
    <h1 style="color: #fff">{{current}}</h1>
  </div>
  <div class="row">
    <a id="download-all" href="">Descargar todo el ramo</a>
  </div>
  

  <form action="{% url 'archivos:arch-root' current %}" method="post">
    <div class="row">
      {%csrf_token%}
      <!-- <table id="myTable"> -->
      <table
        id="filetable"
        class="table table-dark table-bordered table-striped"
      >
        <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Sem</th>
            <th>Fecha</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
          <tr>
            <td>
              <center>
                <input
                  type="checkbox"
                  id="{{file.id}}"
                  name="files"
                  value="{{file.id}}"
                />
              </center>
            </td>
            <td>{{file.nombre}}</td>
            <td>{% if file.tipo == 'PDF' %} 
                  <i class="fa fa-file-pdf-o"></i> 
                {% elif file.tipo == 'WORD'%}
                  <i class="fa fa-file-word-o"></i> 
                {% elif file.tipo == 'PPT'%}
                  <i class="fa fa-file-powerpoint-o"></i> 
                {% endif %}</td>
            <td>{{file.semestre}}</td>
            <td>{{file.subido}}</td>
            <td>
              <a download href="/media/{{file.archivo}}"><i class="fa fa-download"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <input type="submit" value="Crear .zip" />
    </div>
  </form>

  <a href="{{zip}}">{{zip}}</a>
</div>

{% endblock %}
