{% extends 'global/base.html' %}
{% load static %}
{% block head %}

<script type="text/javascript">
  {% autoescape off %}
    let carreras = {{js_carreras}}
    let ramos = {{js_ramos}}
  {% endautoescape %}

</script>
<script defer type="text/javascript" src="{% static 'archivos/upload.js' %}"></script>

{% endblock %}

{% block content %}
<div class="row text-white">
  <div class="col mb-3">
    <h1 class="display-4">Titulo generico</h1>
  </div>
</div>
<form action="/archivos/upload/" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="row text-white mb-3 mt-4">
    <div class="col-12">
      <h5>Seleccion del ramo</h5>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <select id="select-carrera" class="custom-select" >
        <option  selected>Selecciona la carrera</option>
        {% for carrera in carreras %}
          <option value="{{carrera.id}}">{{carrera.nombre}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <select id="select-semestre" class="custom-select" disabled>
        <option disabled selected>Semestre</option>
      </select>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <select id="select-ramo" class="custom-select" name="ramo" disabled>
        <option disabled selected>Selecciona el ramo</option>
      </select>
    </div>
    
  </div>
  <div class="row text-white mb-3 mt-1">
    <div class="col-12">
      <h5>Informacion del archivo</h5>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <select class="custom-select" name="tipo">
        <option disabled selected >Tipo de archivo</option>
        <option value="Certamen">Certamen</option>
        <option value="Tarea">Tarea</option>
        <option value="Otro">Otra cosa</option>
      </select>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <input type="text" name="semestre" class="form-control" id="validationDefault02" placeholder="2012-2" required >
      <small id="passwordHelpBlock" class="form-text text-muted">
        Año en que aparecio
      </small>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <input type="text" class="form-control" name="nombre" id="validationDefault02" placeholder="1" required>
      <small id="passwordHelpBlock" class="form-text text-muted">
        Nombre
      </small>
    </div>
  </div>
  <div class="row text-white mb-3 mt-1 justify-content-center">
    <div class="col-6 text-center">
      <h5>Sube tu archivo</h5>
    </div>
    </div>
  <div class="row text-white mb-3 mt-1 justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="archivo" required>
        <label class="custom-file-label">Escoger archivo</label>
      </div>
    </div>
  </div>
  <div class="row text-white mb-3 mt-5 justify-content-center">
    <div class="col-12 col-sm-6">
      <button class="btn btn-success btn-block btn-lg">Subir!</button>
    </div>
  </div>
</form>


{% endblock %}