{% extends 'global/base.html' %}
{% load static %}
{% block head %}

<script type="text/javascript">
  let carreras = {}
</script>
<script defer type="text/javascript" src="{% static 'ramos/src/upload.js' %}"></script>

{% endblock %}

{% block content %}
<div class="row text-white">
  <div class="col mb-3">
    <h1 class="display-4">Titulo generico</h1>
  </div>
</div>
<form>
  <div class="row text-white mb-3 mt-4">
    <div class="col-12">
      <h5>Seleccion del ramo</h5>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <select id="select-carrera" class="custom-select" >
        <option  selected>Selecciona la carrera</option>
        <option value="1">INF</option>
        <option value="2">ELO</option>
        <option value="3">ELI</option>
        <option value="3">IDP</option>
      </select>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <select id="select-semestre" class="custom-select" disabled>
        <option disabled selected>Semestre</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <select id="select-ramo" class="custom-select" disabled>
        <option disabled selected>Selecciona el ramo</option>
        <option value="1">101</option>
        <option value="2">1564</option>
        <option value="3">1016</option>
        <option value="3">34f</option>
      </select>
    </div>
    
  </div>
  <div class="row text-white mb-3 mt-1">
    <div class="col-12">
      <h5>Informacion del archivo</h5>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <select class="custom-select">
        <option disabled selected>Tipo de archivo</option>
        <option value="1">Certamen</option>
        <option value="2">Tarea</option>
        <option value="3">Otra cosa</option>
      </select>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <input type="text" class="form-control" id="validationDefault02" placeholder="2012-2" required >
      <small id="passwordHelpBlock" class="form-text text-muted">
        Año en que aparecio
      </small>
    </div>
    <div class="col-12 col-sm-4 mb-3">
      <input type="text" class="form-control" id="validationDefault02" placeholder="1" required >
      <small id="passwordHelpBlock" class="form-text text-muted">
        Numero de tarea, certamen, etc
      </small>
    </div>
  </div>
  <div class="row text-white mb-3 mt-1 justify-content-center">
    <div class="col-6 text-center">
      <h5>Sube tu archivo</h5>
    </div>
    </div>
  <div class="row text-white mb-3 mt-1 justify-content-center">
    <div class="col-12 col-sm-6">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Escoger archivo</label>
      </div>
    </div>
  </div>
  <div class="row text-white mb-3 mt-5 justify-content-center">
    <div class="col-12 col-sm-6">
      <button class="btn btn-success btn-block btn-lg">Subir!</button>
    </div>
  </div>
</form>


{% endblock %}